import()

exportPattern("^[[:alpha:]]+")

S3method("[", "RODBC_Access")
S3method("[", "RODBC_Excel")
S3method("[", "RODBC_MySQL")
S3method("[", "RSQLite_SQLite")
S3method("[<-", "RODBC_Access")
S3method("[<-", "RODBC_Excel")
S3method("[<-", "RODBC_MySQL")
S3method("[<-", "RSQLite_SQLite")
S3method("edbColnames", "RODBC_Access")
S3method("edbColnames", "RODBC_Excel")
S3method("edbColnames", "RODBC_MySQL")
S3method("edbColnames", "RSQLite_SQLite")
S3method("edbDataSource", "RODBC_MySQL")
S3method("edbDelete", "RODBC_Access")
S3method("edbDelete", "RODBC_Excel")
S3method("edbDelete", "RODBC_MySQL")
S3method("edbDelete", "RSQLite_SQLite")
S3method("edbDrop", "RODBC_Access")
S3method("edbDrop", "RODBC_Excel")
S3method("edbDrop", "RODBC_MySQL")
S3method("edbDrop", "RSQLite_SQLite")
S3method("edbNames", "RODBC_Access")
S3method("edbNames", "RODBC_Excel")
S3method("edbNames", "RODBC_MySQL")
S3method("edbNames", "RSQLite_SQLite")
S3method("edbRead", "RODBC_Access")
S3method("edbRead", "RODBC_Excel")
S3method("edbRead", "RODBC_MySQL")
S3method("edbRead", "RSQLite_SQLite")
S3method("edbWrite", "RODBC_Access")
S3method("edbWrite", "RODBC_Excel")
S3method("edbWrite", "RODBC_MySQL")
S3method("edbWrite", "RSQLite_SQLite")
