import()

#   export
exportPattern("^[[:alpha:]]+")
export(.edb.sRow)
export(.edb.sCol)
export(.edbFileExists)
export(.formatCol)
export(.formatTable4Query) 
export(.splitBySize) 

#   importFrom
importFrom(utils,packageVersion)
importFrom(utils,installed.packages)
importFrom(stats,rnorm)
