import(RODBC, easydb)

exportPattern("^[[:alpha:]]+")

S3method("[", "RODBC_Excel")
S3method("[<-", "RODBC_Excel")
S3method("edbColnames", "RODBC_Excel")
S3method("edbDelete", "RODBC_Excel")
S3method("edbDrop", "RODBC_Excel")
S3method("edbNames", "RODBC_Excel")
S3method("edbNRow", "RODBC_Excel")
S3method("edbQuery", "RODBC_Excel")
S3method("edbRead", "RODBC_Excel")
S3method("edbWrite", "RODBC_Excel")
